<!--Dashboard-->
<div class="grid-container">
  <h1 class="mat-h1">My-app</h1>

  <!--supply-->
  <mat-grid-list cols="2" rowHeight="600px">
    <!--Bob-->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> Bob </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-bob
            [sdk]="sdk"
            [accAddress]="accAddressBob$ | async"
            [valAddress]="valAddressBob$ | async"
            [toAddress]="accAddressAlice$ | async"
          ></app-bob>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!--Alice-->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Alice</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-alice
            [sdk]="sdk"
            [accAddress]="accAddressAlice$ | async"
            [valAddress]="valAddressAlice$ | async"
            [toAddress]="accAddressBob$ | async"
          ></app-alice>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
