<!--Dashboard-->
<div class="grid-container">
  <h1 class="mat-h1">My-app</h1>

  <!--supply-->
  <mat-grid-list cols="2" rowHeight="600px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> Chain total Supply </mat-card-title>
        </mat-card-header>
        <ng-container *ngIf="totalSupply$ | async as supply">
          <ng-container *ngFor="let sup of supply?.supply; last as last">
            <div>
              <span>{{ sup.amount | number: "1.0-0" }}</span>
              <span class="flex-auto"></span>
              <span>{{ sup.denom }}</span>
            </div>
          </ng-container>
        </ng-container>

        <h3>Params</h3>
        <ng-container *ngIf="params$ | async as param">
          <div>
            <span>{{ param.params }}</span>
            <span class="flex-auto"></span>
            <span>{{ param }}</span>
          </div>
        </ng-container>

        <h3>Validators</h3>
        <ng-container *ngIf="validators$ | async as validators">
          <ng-container *ngFor="let validator of validators?.validators">
            <mat-list-item routerLink="{{ validator.operator_address }}">
              <span class="break-all text-sm sm:text-base">
                {{ validator.operator_address }}
              </span>
            </mat-list-item>
          </ng-container>
        </ng-container>

        <h3>Community pool</h3>
        <ng-container *ngIf="communityPool$ | async as communityPool">
          <ng-container *ngFor="let pool of communityPool?.pool; last as last">
            <div>
              <span>{{ pool.amount | number: "1.6-6" }}</span>
              <span class="flex-auto"></span>
              <span>{{ pool.denom }}</span>
            </div>
          </ng-container>
        </ng-container>

        <h3>Txs</h3>
        <ng-container *ngIf="txsWithPagination$ | async as txsWithPagination">
          <ng-container
            *ngFor="let tx of txsWithPagination?.tx_responses; last as last"
          >
            <div>
              <span>{{ tx.height }}</span>
              <span class="flex-auto"></span>
              <span>{{ tx.txhash }}</span>
            </div>
          </ng-container>
        </ng-container>
      </mat-card>
    </mat-grid-tile>

    <!--Bob-->

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> Bob </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h3>AccountAddress</h3>
          <div *ngIf="accAddressBob$ | async as accAddressBob">
            <span class="break-all">{{ accAddressBob }}</span>
          </div>
          <app-bob [sdk]="sdk"></app-bob>

          <!--
          <div *ngIf="valAddressBob$ | async as validatorBob">
            <span class="break-all">valAddress : {{ validatorBob }}</span>
          </div>

        所持tokenを表示
          <ng-container *ngIf="balancesBob$ | async as balancesBob">
            <h3>balances</h3>
            <ng-container *ngFor="let balanceBob of balancesBob">
              <div>
                token: {{ balanceBob.denom }} balance:
                {{ balanceBob.amount | number: "1.6-6" }}
              </div>
            </ng-container>
          </ng-container>
          --Delegationを表示--
          <ng-container *ngIf="delegationsBob$ | async as delegationsBob">
            <h3>Delegation</h3>
            <ng-container
              *ngFor="
                let delegation_response of delegationsBob.delegation_responses
              "
            >
              <span class="break-all"
                >validator:
                {{ delegation_response.delegation?.validator_address }} </span
              ><br />
              <span>
                token: {{ delegation_response.balance?.denom }} balance:
                {{ delegation_response.balance?.amount }}
              </span>
            </ng-container>
          </ng-container>
        -->
          <!--送信フォーム
          <ng-container *ngIf="accAddressAlice$ | async as accAddressAlice">
            <form
              #formB="ngForm"
              (submit)="
                sendTx(
                  mnemonicB,
                  sdk$,
                  accAddressAlice,
                  denomBRef.value,
                  amountBRef.value
                )
              "
            >
              <mat-form-field appearance="fill">
                <mat-label>amount</mat-label>
                <input
                  #amountBRef
                  matInput
                  required
                  id="amountValue"
                  name="amountValue"
                />
              </mat-form-field>
              <mat-select
                #denomBRef
                placeholder="Select"
                name="denomOption"
                required
              >
                <mat-option *ngFor="let denom of denoms" [value]="denom">
                  {{ denom }}
                </mat-option>
              </mat-select>
              <button mat-flat-button color="primary">Send</button>
            </form>
          </ng-container>
        -->

          <div class="mt-1">
            <button
              mat-flat-button
              color="primary"
              (click)="
                createDelegator(mnemonicB, sdk$, valAddressAlice$, {
                  denom: 'stake',
                  amount: '1000'
                })
              "
            >
              Be Delegator
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!--Alice-->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Alice</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h3>AccountAddress</h3>
          <div *ngIf="accAddressAlice$ | async as accAddressAlice">
            <span class="break-all">{{ accAddressAlice }}</span>
          </div>

          <app-alice [sdk]="sdk"></app-alice>

          <!--所持tokenを表示-->
          <!--
          <ng-container *ngIf="balancesAlice$ | async as balancesAlice">
            <h3>balances</h3>
            <ng-container *ngFor="let balanceAlice of balancesAlice">
              <div>
                token: {{ balanceAlice.denom }} balance:
                {{ balanceAlice.amount | number: "1.6-6" }}
              </div>
            </ng-container>
          </ng-container>

         Delegationを表示
          <ng-container *ngIf="delegationsAlice$ | async as delegationsAlice">
            <h3>Delegation</h3>
            <ng-container
              *ngFor="
                let delegation_response of delegationsAlice.delegation_responses
              "
            >
              <span class="break-all"
                >validator:
                {{ delegation_response.delegation?.validator_address }} </span
              ><br />
              <span>
                token: {{ delegation_response.balance?.denom }} balance:
                {{ delegation_response.balance?.amount }}
              </span>
            </ng-container>
          </ng-container>
        -->

          <!--送信フォーム
          <ng-container *ngIf="accAddressBob$ | async as accAddressBob">
            <form
              #formA="ngForm"
              class="mt-4"
              (submit)="
                sendTx(
                  mnemonicA,
                  sdk$,
                  accAddressBob,
                  denomARef.value,
                  amountARef.value
                )
              "
            >
              <mat-form-field appearance="fill">
                <mat-label>amount</mat-label>
                <input
                  #amountARef
                  matInput
                  required
                  id="amountValue"
                  name="amountValue"
                />
              </mat-form-field>
              <mat-select
                #denomARef
                placeholder="Select"
                name="denomOption"
                required
              >
                <mat-option *ngFor="let denom of denoms" [value]="denom">
                  {{ denom }}
                </mat-option>
              </mat-select>
              <button mat-flat-button color="accent">Send</button>
            </form>

          </ng-container>-->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
