<div>
  <div class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">
    Staking</div>

  <div class="mt-2">

    <form #formB="ngForm" (submit)="
    stakingDelegate({
      denom: 'stake', amount: amountBRef.value })">

      <div class="flex flex-row content-content items-start">
        <mat-form-field>
          <mat-label>amount</mat-label>
          <input #amountBRef matInput required id="amountValue" name="amountValue" />
        </mat-form-field>
        <!--
        <mat-form-field>
          <mat-select #denomBRef placeholder="Select" name="denomOption" required>
            <mat-option *ngFor="let denom of denoms" [value]="denom">
              {{ denom }}
            </mat-option>
          </mat-select>
        </mat-form-field>-->

        <button mat-flat-button color="primary">
          Stake
        </button>
      </div>
    </form>
  </div>
</div>