<div class="mb-2">
    <span
        class="inline-block py-1 px-2 rounded bg-green-50 text-green-500 text-xs font-medium tracking-widest">Address</span>

    <ng-container *ngIf="accAddress">
        <div class="px-4 py-1 text-sm text-gray-600">Account</div>
        <span class="break-all px-6 py-1">{{ accAddress }}</span>
    </ng-container>

    <ng-container *ngIf="valAddress">
        <div class="px-4 py-1 text-sm text-gray-600">Validator</div>
        <span class="break-all px-6 py-1">{{ valAddress }}</span>
    </ng-container>

</div>